/* header {
    background: rgb(47, 66, 128);

    .container {

        grid-template-columns: 30% auto;

    }
    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    font-size: 16px;

                    &:hover {
                        background: rgb(47, 66, 128);
                    }
                }
            }
        }
    }
}
 */
.nav-link {
    font-size: 16px;
}

.spacer {
    flex: 1 1 auto;
  }