@import '~@angular/material/theming';

$my-blue: (
  50:rgb(47, 66, 128),
  100: #3F51B5,
  200: #7f7fdd,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker rgb(47, 66, 128)
// hue. Available color palettes: https://material.io/design/color/
$socialhub-app-primary: mat-palette($my-blue, 50, 100);
$socialhub-app-accent:  mat-palette($mat-pink, 500, 400, 300);

// The warn palette is optional (defaults to red).
$socialhub-app-warn:    mat-palette($mat-red, 800);

// Create the theme object (a Sass map containing all of the palettes).
$socialhub-app-theme: mat-light-theme($socialhub-app-primary, $socialhub-app-accent, $socialhub-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.



@include angular-material-theme($socialhub-app-theme);