<app-nav></app-nav>

<div class='cont'>
  <mat-sidenav-container class="search-container">
    <mat-sidenav [fixedTopGap] class="filters" mode="side" opened>
      <app-filters #filter></app-filters>
    </mat-sidenav>
    <mat-sidenav-content class='search-content'>
      <mat-form-field class='search-field'>
        <input matInput type="text" [(ngModel)]='keyword' type="text" placeholder="Search" id='keywords'>
        <button mat-button *ngIf="keyword != ''" matSuffix mat-icon-button aria-label="Clear" (click)="keyword=''">
          <mat-icon svgIcon='cross'></mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)='search(filter.getFilterProfile())' class='btn'>Search</button>

      <mat-tab-group id='tab-container'>
        <mat-tab label={{key}} *ngFor='let key of objectKeys(results)'>
          <!-- Facebook content -->
          <ul *ngIf='key=="Facebook"'>
            <li *ngFor='let result of results.Facebook'> {{result[0]}} </li>
          </ul>
          <!-- YouTube content -->
          <div *ngIf='key=="YouTube"'>
              <ul  *ngFor='let result of results.YouTube'>
                  <li class='yt-list'>
                    <div class='list-left'>
                      <img src={{result.thumbnail}}>
                    </div>
                    <div class='list-right'>
                      <h3><a href={{result.url}}>{{result.title}}</a></h3>
                      <small>By <span>{{result.channel}}</span> on {{result.date | date : 'mediumDate'}}</small>
                      <p>
                        {{result.description}}
                      </p>
                    </div>
                  </li>
                  <div class='clearfix'></div>
                </ul>
          </div>
          <div *ngIf='key=="Twitter"' id='tweet-container'></div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

<!-- 
<div id="fb-root">
  <div class="fb-post" data-href="https://www.facebook.com/lonerboyforever/videos/2125286714221855/" data-width="500" data-show-text="true"><blockquote cite="https://developers.facebook.com/lonerboyforever/videos/2125286714221855/" class="fb-xfbml-parse-ignore"><p>From a couple of days ago 🎸</p>Posted by <a href="https://www.facebook.com/lonerboyforever">Suchitha Dehigaspitiya</a> on&nbsp;<a href="https://developers.facebook.com/lonerboyforever/videos/2125286714221855/">Wednesday, March 27, 2019</a></blockquote></div>
</div> -->