<app-header-large></app-header-large>

<div class='container'>
  <input [(ngModel)]='fName' type='text' id='fName' placeholder='First Name'>
  <input [(ngModel)]='lName' type='text' id='lName' placeholder='Last Name'>
  <input [(ngModel)]='email' type='email' id='email' placeholder='Email'>
  <input [(ngModel)]='password' type='password' id='password' placeholder='Password'>
  <input [(ngModel)]='cpass' type='password' id='cpass' placeholder='Confirm Password'>
  <button id='submit' (click)='registerUser()'> Login </button>
</div>